{% extends 'base.html' %}
{% block title %}
Избранные авторы
{% endblock title %}
{% block content %}
<h1>Избранные авторы</h1>
<article>
{% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    {% include 'includes/main.html' %}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
</article>
{% if post.group %}
  <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock content %}