{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
Новый пароль
{% endblock title %}
{% block content %}
{% if validlink %}
{% include 'includes/div.html' %}
        Введите новый пароль
      </div>
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          {% include 'includes/password.html' %}
            <button type="submit" class="btn btn-primary">
              Назначить новый пароль
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
{% include 'includes/div.html' %}
        Ошибка
      </div>
      <div class="card-body">
        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}