{% extends 'base.html' %}
{% block title %}
Изменение пароля
{% endblock title %}
{% block content %}
{% include 'includes/div.html' %}
        Изменить пароль
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'password_change' %}">
          {% csrf_token %}
          <div class="form-group row my-3 p-3">
            <label for="id_old_password">
              Старый пароль
              <span class="required text-danger">*</span>
            </label>    
            <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
          </div>
          {% include 'includes/password.html' %}
            <button type="submit" class="btn btn-primary">
              Изменить пароль
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
